<div style="background-color: #ffffff; height: 20vh; width: 100vw; max-width: 100%; z-index: 1; display: flex; justify-content: center;">
    <div class="footer-links">
    
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data Protection</a>
    </div>
    <div class="footer-logo"> 
        <a href=""><img src="./assets/img/github-fill.png"></a>
        <a href=""><img src="./assets/img/xing-fill.png"></a>
        <a href=""><img src="./assets/img/linkedin-box-fill.png"></a>
        
    </div>


</div>