<div class="footer-section">
    <div class="footer-links">
    
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data Protection</a>
    </div>
    <div class="footer-logo"> 
        <a href="https://github.com/dahelfi"><img src="./assets/img/github-fill.png"></a>
        <a href="https://www.xing.com/profile/Daniel_Helfenstein3"><img src="./assets/img/xing-fill.png"></a>
        <a href="https://de.linkedin.com/in/daniel-helfenstein-4952a31b0"><img src="./assets/img/linkedin-box-fill.png"></a>
        
    </div>


</div>