.myprojects-section{
    width: 100vw;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.myprojects-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw !important;
    
}

.myprojects-container{

    display: flex; justify-content: center; 
    background-color: #5221E6; 
    padding: 10px !important; 
    margin-bottom: 30px;
}




.myprojects-element{
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 5px;
    position: relative; /*relevant for project-overlay*/

    img{
        object-fit: cover;
        width: 19vw;
        border-radius: 10px;
    }

    p{
        margin-top: 5px;
        text-align: center;
        color: black;
        font-size: 20px;
    }

    &:hover .project-overlay{
        opacity: 1;
    }

    &:hover img{
        filter: blur(20px);
    }
}


.project-overlay {
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    transition: opacity 300ms ease-in-out;

    p{
        color: white;
    }

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 40px;
        width: 80px;
        background-color: #5221e6;
        border-radius: 5px;
        border: 1px solid #5221e6;
        margin-bottom: 50px !important;
    }
  }

@media(max-width: 1600px){
    .myprojects-element{
        img{
           width: 23vw;
            object-fit: cover;
        }
    }

    .myprojects-column{

        width: 25vw !important;
        
}
}


@media(max-width: 1200px){
    .myprojects-element{
        img{
           width: 30vw;
        }
    }

    .myprojects-column{
        width: 33vw !important;
        
}
}

@media(max-width: 1300px){
    .myprojects-element{
        img{
           width: 27vw;
        }
    }

    .myprojects-column{
        width: 30vw !important;
        
}
}

@media(max-width: 1100px){
    .myprojects-element{
        img{
           width: 33vw;
        }
    }

    .myprojects-column{
        width: 37vw !important;
        
}
}


@media(max-width: 750px){
    .myprojects-element{
        img{
           width: 40vw;
        }
    }

    .myprojects-column{
        width: 45vw !important;
        
}
}

@media(max-width: 650px){
    .myprojects-container{
        flex-direction: column;
        align-items: center;
    }

    .myprojects-element{
        img{
           width: 65vw;
        }
    }

    .myprojects-column{
        width: 70vw !important;
        
}
}


@media(max-width: 550px){

    .myprojects-element{
        img{
           width: 75vw;
        }
    }

    .myprojects-column{
        width: 80vw !important;
        
}
}