<div class="myprojects-section" id="projects">

    <h1>MY PROJECTS</h1>

    <div class="myprojects-container" >
        <div class="myprojects-column">
            <h1 style="text-align: center; color: white; font-size: 30px;">Work that i've done for the past 6 months</h1>
            <h4 class="mobile-explanation">Visit this projects by clicking the images</h4>
            <div class="myprojects-element">


                <div class="desktop-version">
                    <img src="./assets/img/restaurantwebsite.jpg">
                    <p>Fully responsive cooking website made with html/css and javascript.</p>
                    <div class="project-overlay">
                        <a target="_blank" href="https://danielhelfenstein.com/Kochwelt">Show me</a>
                      </div>

                </div>

                <div class="mobile-version">
                    <a href="https://danielhelfenstein.com/Kochwelt">
                        <img src="./assets/img/restaurantwebsite.jpg">
                    </a>
                    <p>Fully responsive cooking website made with html/css and javascript.</p>
                </div>
               
            </div>
            <div class="myprojects-element">

                <div class="desktop-version" >
                    <img src="./assets/img/kanbanboard_shutterstock_1337303492_700.jpg">
                    <p>Fully responsive Kanban-Board using hmtl/css/javascript and Bootstrap with backend integration. 
                        Login as a guest.
                    </p>
                    <div class="project-overlay">
                        <a target="_blank" href="http://daniel-helfenstein.developerakademie.com/canbanboard">Show me</a>
                      </div>
                </div>

                <div class="mobile-version">
                    <a href="http://daniel-helfenstein.developerakademie.com/canbanboard">
                        <img src="./assets/img/kanbanboard_shutterstock_1337303492_700.jpg">
                    </a>
                    <p>Fully responsive Kanban-Board using hmtl/css/javascript and Bootstrap with backend integration. 
                        Login as a guest.</p>
                </div>
               
            </div>
            <div class="myprojects-element">
                <div class="desktop-version">
                    <img src="./assets/img/ringoffire.jpg">
                    <p>Fully responsive multiplayer drinking game "Ring of Fire" using Angular Material Design and Firebase.</p>
                    <div class="project-overlay">
                    <a target="_blank" href="https://ring-of-fire-7fb7d.web.app">Show me</a>
                    </div>

                </div>

                <div class="mobile-version">
                    <a href="https://ring-of-fire-7fb7d.web.app">
                        <img src="./assets/img/ringoffire.jpg">
                    </a>
                    <p>Fully responsive multiplayer drinking game "Ring of Fire" using Angular Material Design and Firebase.</p>
                </div>
                
            </div>
        </div>
        <div class="myprojects-column">

            <div class="myprojects-element">
                <div class="desktop-version">
                    <img src="./assets/img/KIQuiz_Search_result_teaser_01.jpg">
                    <p>Fully responsive QuizApp using hmtl/css/javascript and Bootstrap.</p>
                    <div class="project-overlay">
                        <a target="_blank" href="https://danielhelfenstein.com/QuizAppUltimate">Show me</a>
                      </div>

                </div>
                <div class="mobile-version">
                    <a href="https://danielhelfenstein.com/QuizAppUltimate">
                        <img src="./assets/img/KIQuiz_Search_result_teaser_01.jpg">
                    </a>
                    <p>Fully responsive QuizApp using hmtl/css/javascript and Bootstrap.</p>
                </div>
               
            </div>
            <div class="myprojects-element">
                <div class="desktop-version">

                    <img src="./assets/img/pexels-photo-1310847.jpeg">
                    <p>Javascript based Programm using an free Restful API named PokeAPI. Retreat to the main overview
                        by clicking the black section.</p>
                    <div class="project-overlay">
                        <a target="_blank" href="https://danielhelfenstein.com/Pokedex/">Show me</a>
                      </div>

                </div>
                <div class="mobile-version">
                    <a href="https://danielhelfenstein.com/Pokedex/">
                        <img src="./assets/img/pexels-photo-1310847.jpeg">
                    </a>
                    <p>Javascript based Programm using an free Restful API named PokeAPI. Retreat to the main overview
                        by clicking the black section.</p>
                </div>
              
            </div>
            <div class="myprojects-element">
                <div class="desktop-version">
                    <img src="./assets/img/crm.jpg">
                    <p>Basic CRM Software using Firebase and Angular Material Design. </p>
                    <div class="project-overlay">
                        <a target="_blank">Coming Soon</a>
                      </div>

                </div>

                <div class="mobile-version">
                    <a >
                        <img src="./assets/img/crm.jpg">
                    </a>
                    <p>Basic CRM Software using Firebase and Angular Material Design. (Coming soon!)</p>
                </div>
               
            </div>

        </div>
    </div>
</div>
