<div class="myprojects-section" id="projects">

    <h1>MY PROJECTS</h1>

    <div class="myprojects-container" >
        <div class="myprojects-column">
            <h1 style="text-align: center; color: white; font-size: 30px;">Work that i've done for the past 6 months</h1>
            <div class="myprojects-element">
                <img src="./assets/img/restaurantwebsite.jpg">
                <p>Fully responsive restaurant website made with html and css</p>
                <div class="project-overlay">
                    <a>Show me</a>
                  </div>
            </div>
            <div class="myprojects-element">
                <img src="./assets/img/kanbanboard_shutterstock_1337303492_700.jpg">
                <p>Fully responsive Kanban-Board using hmtl/css/javascript and Bootstrap </p>
                <div class="project-overlay">
                    <a>Show me</a>
                  </div>
            </div>
            <div class="myprojects-element">
                <img src="./assets/img/ringoffire.jpg">
                <p>Fully responsive drinking game Ring of Fire using Angular Material Design</p>
                <div class="project-overlay">
                    <a>Show me</a>
                  </div>
            </div>
        </div>
        <div class="myprojects-column">
            <div class="myprojects-element">
                <img src="./assets/img/KIQuiz_Search_result_teaser_01.jpg">
                <p>Fully responsive QuizApp using hmtl/css/javascript and Bootstrap</p>
                <div class="project-overlay">
                    <a>Show me</a>
                  </div>
            </div>
            <div class="myprojects-element">
                <img src="./assets/img/Opción 1.png">
                <p>Javascript based spanish Jump and Run Game EL POLO LOCO</p>
                <div class="project-overlay">
                    <a>Show me</a>
                  </div>
            </div>
            <div class="myprojects-element">
                <img src="./assets/img/crm.jpg">
                <p>Basic CRM Software using Firebase and Angular Material Design </p>
                <div class="project-overlay">
                    <a>Show me</a>
                  </div>
            </div>

        </div>
    </div>
</div>
