<div class="mystory-section" id="mystory">

    <div class="photo-section">
        <img src="./assets/img/B54A2B54-9EBC-4CF1-A4E1-4E5BD7B8D3F1 (1).jpg">
            <div style="display: flex; flex-direction: column;">
                <h1 style="font-size: 50px;">About me</h1>
                <h4>I love to create something that provides value and has a beauftiful design. <br> "Do what you love so you will never have to work again"</h4>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div class="mystory-element">
                <div class="icon-background"><img src="./assets/img/running-man-128.png" ></div>
                <h1>MY JOURNEY BEGAN</h1> 
                <h4>After my Bachelors Degree i decide
                that i want to do something more technically. So i started to study computer science for 3 semester.
                </h4>
            </div>
            <div class="mystory-element">    
                <div class="icon-background"><img src="./assets/img/favorite-3-128.png" ></div>
                <h1>FIND THE PASSION</h1>
                <h4>During my studies and my coding internship i realized that 
                i love to code, but my level of coding wasn't high enough for a profession.</h4>
            </div>
            <div class="mystory-element">
                <div class="icon-background"><img src="./assets/img/search-10-128.png"></div>
                <h1>FIND THE SOLUTION</h1> 
                <h4>So i started to search for solutions and find the developer academy. They have showed me a concept on how to get my first coding job </h4>
            </div>
            <div class="mystory-element">
                <div class="icon-background"><img src="./assets/img/airplane-takeoff-128.png" ></div>
                <h1>READY FOR THE JOB</h1>
                <h4>Through projectbased learning i gain some experience
                in web/frontend development and i want to get a new challenge.</h4>
            </div>
        </div>


</div>
