.mystory-section{
    width: 100vw;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mystorytext-section{
    display: flex; 
    justify-content: center;
}

.icon-background{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5221e6;
    border-radius: 100%;
    

    img{
        width: 48px;
        height: 48px;
        object-fit: contain;
        
    }
}

.mystory-element{

    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 250px;
    margin: 1vw;
    text-align: center;

    h1{
        margin-top: 50px;
    }
}

.photo-section{
    width: 80vw;
    display: flex; 
    justify-content: center; 
    border-bottom: 2px solid #5221e6;
    color: white;
    margin: 50px;

    img{
        margin-bottom: 50px;
        margin-right: 50px;
        border-radius: 100%;
        width: 250px;
        object-fit: contain;
    }
}

@media(max-width: 1100px){
   .mystory-element{
        width: 220px;
        margin: 10px;
       
    
        h1{
            margin-top: 30px;
        }
    }
}

@media(max-width: 1100px){
    .mystory-element{
         width: 220px;
         margin: 10px;
        
     
         h1{
             margin-top: 30px;
         }
     }
 }
 @media(max-width: 1000px){
    .mystory-element{
         width: 200px;
         margin: 5px;
        
     
         h1{
             margin-top: 30px;
         }
     }
 }

 @media(max-width: 800px){

    .photo-section{
      
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;

    
        img{
            margin-bottom: 20px;
            margin-right: 0px;
            border-radius: 100%;
            width: 250px;
            object-fit: contain;
        }
    }
 
 }

 @media(max-width: 850px){
    .mystory-element{
         width: 50vw;
         margin: 15px;
        
     
         h1{
             margin-top: 20px;
         }
     }

     .mystorytext-section{
        display: flex; 
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
 }
 
 