<nav class="navbar">
    <div class="brand-title">
        <a routerLink="/">
            <img src="./assets/img/logomakr.png">
        </a> 

    </div>
       

        <div class="navbar-links">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a href="skills">Skills</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a routerLink="/imprint">Imprint</a></li>
                <li><a routerLink="/data-protection">Data Protection</a></li>
                <li><div style="background-color: #5221e6;">
                    <a href="contactMe">Contact Me</a></div></li>
        
            </ul>
    
    
        </div>


    
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

</nav>



