.main-container-frontsection-bigscreen{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: black;
}

.main-container-frontsection-smallscreen{
    display: none;
}

.design-element-1{
    position: absolute;
    height: 90vh;
    right: 0px;
    top: 0px;
    width: 65vw;
    background-color: #0a0f1c;
    z-index: 2;
}

.image-front-section{

    position: absolute;
    top: 15vh;
    left: 0px;
    z-index: 3;  
    overflow: hidden;
    

    img{
        width: 50vw;
        height: 65vh;
        object-fit: cover;
        animation: zoomIn 5s ease;

    }

}

@keyframes zoomIn{
    from{
        transform: scale(1);
    }to{

        transform: scale(1.1);
    }

}

.text-section{
    position: absolute;
    top: 30vh;
    height: 40vh;
    width: 50vw;
    color: white;
    right: 0px;
    z-index: 5;
    

    h1{
        margin-left: 50px;
        font-size: 40px;
    }

    h4{
        margin-left: 50px;
        font-size: 25px;
    }

}

@media(max-width:850px){
    .main-container-frontsection-bigscreen{
        display: none;
    }

    .main-container-frontsection-smallscreen{
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-front-section-smallscreen{    
        
        img{
            width: 100vw;
            height: 65vh;
            object-fit: cover;
        }
    
    }

    .text-section-smallscreen{
        color: white;
        text-align: center;
        
        h1{
         
            font-size: 40px;
            color: white;
        }
    
        h4{
           
            font-size: 25px;
            color: white;
        }
    }


}