<div class="main-container-frontsection-bigscreen" id="home">

    <div class="design-element-1"></div>
    <div *ngIf="showImage" class="image-front-section">
        <img src="./assets/img/{{ images[currentImage] }}">
    </div>

    <div class="text-section">
        <h1>{{ speaches[currentImage] }}</h1>
        <h4>{{ speechesLittle[currentImage] }}</h4>
    </div>   

</div>

<div class="main-container-frontsection-smallscreen">

    <div class="image-front-section-smallscreen">
        <img src="./assets/img/{{ images[currentImage] }}">
    </div>

    <div class="text-section-smallscreen">
        <h1>{{ speaches[currentImage] }}</h1>
        <h4>{{ speechesLittle[currentImage] }}</h4>
    </div>   
</div>
