<div class="myskills-container" id="skills">
 <h1>MY SKILLS</h1>
 <div class="skills-table">
    <div class="skills-row">
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/java script.png"></div>
        <div style="height: 70px;"><h3>JAVASCRIPT</h3></div>
        </div>
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/Angular_full_color_logo.svg.png"></div>
        <div style="height: 70px;"><h3>ANGULAR</h3></div>
         </div>
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/scrum.png"></div>
        <div style="height: 70px;"><h3>SCRUM</h3></div>
        </div>
    </div>
    <div class="skills-row">
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/Git-Icon-1788C 2.png"></div>
        <div style="height: 70px;"><h3>GIT</h3></div></div>
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/Group 205.png"></div>
        <div style="height: 70px;"><h3>HTML/CSS</h3></div></div>
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/icons8-database-52 2.png"></div>
        <div style="height: 70px;"><h3>DATABASE</h3></div></div>
    </div>
    <div class="skills-row">
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/Group 20.png"></div>
        <div style="height: 70px;"><h3>DESIGN THINKING</h3></div></div>
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/icons8-rest-api-80 2.png"></div>
        <div style="height: 70px;"><h3>REST <br> API</h3></div></div>
        <div class="skills-element"><div class="image-circle"><img class="image-element" src="./assets/img/materialdesign.png"></div>
        <div style="height: 70px;"><h3>MATERIAL DESIGN</h3></div></div>
</div>


</div>
