<div class="background-contact-section">
    <h1>CONTACT ME</h1>

    <div style="display: flex; justify-content: center;">

        <div>
            <h1 style="color: white; width: 30vw;">Lets work together</h1>
        </div>
        <div class="contact-section-input">
            <div class="input-element">
                <span>name</span>
                <textarea style="height: 40px;" name="name" id=""  rows="1" placeholder="Enter your name"></textarea>
            </div>
            

            <div class="input-element">

                <span>email</span>
                <textarea style="height: 40px;" name="email" id=""  rows="1" placeholder="Enter your email"></textarea>

            </div>

            
            <div class="input-element">
                <span>message</span>
                <textarea name="" id=""  rows="10" placeholder="Enter your message"></textarea>

            </div>
        


            <button style="margin-top: 10px; margin-bottom: 30px; width: 200px; height: 40px; background-color: #5221e6; border: 1px solid #5221e6; color: white; border-radius: 5px; cursor: pointer;" >Absenden</button>

        </div>

    </div>
</div>
