<div style="display: flex; justify-content: flex-start; color: white; width: 100vw; height: 100vh; flex-direction: column; background-color: rgba(0, 0, 0, 0.9);">
    <div style=" padding-left: 100px; padding-top: 100px;">
        <h1>Impressum</h1>
        Daniel Helfenstein <br>
        Rübekamp 12 <br>
        <br>
        vertretungsberechtigter Gesellschafter: Daniel Helfenstein
        
        <br>
        Telefon: +49 176 45757191
        <br>
        daniel.helfenstein@mail.de
    </div>
 

</div>

